* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* PAGINA DE INICIO */

#cabecera{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 40px;
    z-index: 1000;
    top: 0;
    background: white;
    position: fixed;
}
#vidalibre{
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 22px;
    margin-right: auto;
}
#menu{
    display: flex;
    align-items: center;
    gap: 25px;
}

#menu a{
    text-decoration: none;
    font-size: 18px;
}
.rojo{
    background: #ff4b4b;
    color: white;
    padding: 6px 12px;
    border-radius: 5px;
}
.rojo:hover{
    background-color: #960000;
    cursor: pointer;
}
.rojo:active{
    background-color: #7d0000;
    cursor: pointer;
}
.blanco{
    background-color: transparent;
    color: #000000;
    border-radius: 10px;
    padding: 3px 10px;
    font-size: 18px;
}
.blanco:hover{
    background-color: #e7e7e7;
    cursor: pointer;
}
.blanco:active{
    background-color: #bcbbbb;
    cursor: pointer;
}
.hamburguesa{
    display: none;
    font-size: 30px;
    cursor: pointer;
}
@media (max-width: 900px) {
    #menu {
        display: none;
        position: absolute;
        top: 70px;
        right: 0;
        background: white;
        width: 200px;
        flex-direction: column;
        padding: 20px;
        box-shadow: 0 20px 35px rgba(132, 0, 255, 0.1), 0 5px 15px rgba(174, 0, 255, 0.1);
    }
    .hamburguesa{
        display: block;
        color: #7d20ff;
        margin-left: auto;
    }
    #menu a{
        padding: 10px 0;
    }
}


#debajodecabecera{
    margin-top: 70px;
    width: 100%;
    padding: 120px 20px;
    text-align: center;
    background: #a43af7;
    color: white;
}
#debajodecabecera div h1{
    margin-top: 50px;
    font-size: 50px;
}
#debajodecabecera div p{
    margin-bottom: 50px;
}
#debajodecabecera div button{
    margin-bottom: 50px;
}
.morado{
    color: #9b4dfa;
}
.botonmorado{
    background-color: #9b4dfa;
    color: rgb(255, 255, 255);
    border: 1px solid rgba(253, 251, 255, 0.8);
    height: 50px;
    width: 150px;
    border-radius: 10px;
    margin-left: 40px;
}
.botonmorado:hover{
    background-color: #ffffff;
    cursor: pointer;
    color: #9b4dfa;
}
.botonmorado:active{
    background-color: #bcbbbb;
    cursor: pointer;
    color: #9b4dfa;
}
.botonblanco{
    background-color: rgb(255, 255, 255);
    color: #9b4dfa;
    border: 1px solid #9b4dfa;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    margin-left: 40px;
}
.botonblanco:hover{
    background-color: #e7e7e7;
    cursor: pointer;
}
.botonblanco:active{
    background-color: #bcbbbb;
    cursor: pointer;
}


.cuadradosapaginas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.cuadradosapaginas button{
    flex-grow: 1;
    flex-basis: 300px;
    text-align: left;
    width: 250px;
    box-shadow: 0 0px 4px rgba(90, 89, 89, 0.5), -10px 10px 20px rgba(140, 0, 255, 0.1);
    border-radius: 10px;
    border: 1px solid rgba(253, 251, 255, 0.8);
    padding: 20px 85px;
    margin: 10px;
    background-color: white;
    position: relative;
    bottom: 50px;
    height: 200px;
}
.cuadradosapaginas button:hover{
    transform: translateY(-5px);
    box-shadow: 0 0px 8px rgba(90, 89, 89, 0.7), 0px 30px 20px rgba(140, 0, 255, 0.2);
    cursor: pointer;
}
.cuadradosapaginas button:active{
    transform: translateY(5px);
    box-shadow: 0 0px 4px rgba(90, 89, 89, 0.5), -10px 10px 20px rgba(140, 0, 255, 0.1);
}
.cuadradosapaginas button img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}




.infohorarios{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #9b4dfa;
    color: white;
    text-align: center;
    padding: 20px 10px;
    border-radius: 10px;   
}
.infohorarios div{
    flex-grow: 1;
    flex-basis: 200px;
}
.infohorarios div h2{
    font-size: 50px;
    margin-bottom: 5px;
}




#compromiso h1{
    margin-top: 100px;
    text-align: center;
    font-size: 50px;
}
#compromisos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#compromisos div{
    flex-grow: 1;
    flex-basis: 200px;
    text-align: center;
    width: 250px;
    box-shadow: 0 0px 4px rgba(90, 89, 89, 0.5), -10px 10px 20px rgba(140, 0, 255, 0.1);
    border-radius: 10px;
    border: 1px solid rgba(253, 251, 255, 0.8);
    padding: 20px 35px;
    justify-content: space-around;
    margin: 10px;
}
#compromisos div img{
    width: 60px;
    height: 50px;
    border-radius: 10px;
}




#pregunta{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 120px 20px;
    justify-items: center;
    

}
.preguntacontenido{
    background-color: #a43af7;
    color: white;
    padding: 40px 20px;
    border-radius: 15px;
    width: 90%;
    text-align: center;
    justify-items: center;
}
.texto{
    font-size: 20px;
    line-height: 2.5rem;
}
.preguntacontenido button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #9b4dfa;
    border: 1px solid #9b4dfa;
    height: 50px;
    width: 230px;
    border-radius: 10px;
}
.preguntacontenido button:hover{
    background-color: #e7e7e7;
    cursor: pointer;
}
.preguntacontenido button:active{
    background-color: #bcbbbb;
    cursor: pointer;
}

#piepagina{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: #780dfb;
    color: white;
    font-size: 15px;
    margin-top: 100px;
    padding: 30px 40px;
    bottom: 0;
}


/* PAGINA DE QUE ES */

#quees{
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    margin-top: 70px;
    padding-inline: 150px;
}
#quees div{
    flex-grow: 1;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    width: 700px;
}
#quees div h1{
    color: #780dfb;
    margin-bottom: 15px;
}

#definicion{
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    margin-top: 20px;
    padding-inline: 100px;
    margin-bottom: 50px;
}
.divdedefinicion{
    flex-grow: 1;
    text-align: left;
    padding: 20px;
    width: 1000px;
    border-left: #780dfb solid 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.divdedefinicion h2{
    margin-bottom: 15px;
}
.divdedefinicion div{
    text-align: left;
    margin-top: 20px;
    border-left: #b57bfc solid 3px;
    padding: 20px;
    background-color: #f5f1f9;
}
#tiposdeviolencia{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
}
#tiposdeviolencia div{
    flex-grow: 1;
    text-align: left;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px 40px;
    width: 300px;
    height: 250px;
    align-content: center;
    margin: 10px;
}
#tiposdeviolencia div p{
    margin: 10px;
}
#tiposdeviolencia div:hover{
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
}
#señalesalerta{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
    text-align: center;
    background-color: #fffcdf;
    border: #f6c80e solid 1px;  
    margin-inline: 40px;
    border-radius: 10px;
}
#señalesalerta div div{
    display: flex;
    flex-wrap: wrap;
    margin-inline: 20px;
}
#señalesalerta div .espacioalertas{
    margin-top: 20px;
    margin-bottom: 20px;
}
#señalesalerta div div.alertas{
    flex-grow: 1;
    flex-basis: 200px;
    text-align: left;
    background-color: #ffffff;
    margin-block: 5px;
    padding: 8px 10px;
    border-radius: 10px;
}
#señalesalerta div div.aviso{
    background-color: #ffffff;
    border-left: orange solid 5px;
    border-radius: 10px;
    padding: 10px;
    margin-block: 15px;
    margin-inline: 40px;
}
#señales{
    margin-top: 50px;
    margin-inline: 50px;
}
#señales div.señalescontenido{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px 40px;
}
#señales div.señalescontenido  p{
    margin-block: 20px;
}
#señales div.señalescontenido div.patron{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    text-align: left;
}
#señales div.señalescontenido div.patron div{
    flex-grow: 1;
    text-align: left;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
}
#señales div.señalescontenido div.fondorojo{
    flex-grow: 1;
    background-color: #ffd6d6;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
}
#señales div.señalescontenido div.fondomorado{
    flex-grow: 1;
    background-color: #f1d6ff;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
}
#señales div.señalescontenido div.fondoazul{
    flex-grow: 1;
    background-color: #d6e2ff;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
}

/* TESTIMINIOS */

#testimonios{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 70px;
    padding-inline: 150px;
}
#testimonios div{
    padding: 10px;
}
#testimonios div h1{
    color: #780dfb;
    margin-bottom: 15px;
}
#compartir{
    justify-items: center;
}
#formulario{
    background-color: #e6d6f9;
    padding: 20px;
    width: 70%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 20px;
}
#formulario div{
    background-color: #fffcdf;
    padding: 10px;
    margin-block: 20px;
    border-left: orange solid 5px;
}
#formulario input.enviar{
    background-color: #780dfb;
    color: white;

}
#formulario input.texto,textarea.texto{
    width: 100%;
    background-color: #e6d6f9;
}
#formulario select{
    width: 100%;
    background-color: #e6d6f9;
    padding: 5px;
}
#formulario option:hover{
    background-color: #e7e7e7;
    cursor: pointer;
}
#formulario option:active{
    background-color: #bcbbbb;
    cursor: pointer;
}
#formulario input.cancelar{
    background-color: #fefefe;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #0b0a0c;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
    width: 100px;
}
#formulario input.enviar{
    background-color: #780dfb;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #0b0a0c;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
    width: 100px;
}
#formulario input.enviar:hover{
    background-color: #9b4dfa;
    cursor: pointer;
}
#formulario input.enviar:active{
    background-color: #7d20ff;
    cursor: pointer;
}  
#formulario input.cancelar:hover{
    background-color: #e7e7e7;
    cursor: pointer;
}
#formulario input.cancelar:active{
    background-color: #bcbbbb;
    cursor: pointer;
}
#historias{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: center;
}
.personas{
    width: 35%;
    margin: 5px;
    padding: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid rgba(198, 198, 198, 0.8);
}
.personas div.minicabecera{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.personas div.minicabecera img{
    width: 40px;
    height: 40px;
    border-radius: 10px;
}
.personas div.minicabecera span{
    border: 1px solid #d5d4d5;
    font-size: 12px;
    padding: 5px;
    height: 25px;
    border-radius: 10px;
}
.personas div.historia h2{
    margin-bottom: 10px;
    font-size: 20px;
}
.personas div.historia p{
    margin-bottom: 10px;
    font-size: 15px;
}
.personas div.historia span{
    font-size: 12px;
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #d5d4d5;
    border-radius: 10px;
}
.personas div.historia div.verde{
    align-items: center;
    background-color: #bdf6c6;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    border-left: rgb(0, 207, 0) solid 5px;
}
.personas div.historia div.verde p{
    margin-bottom: 0;
    font-size: 12px;
}